@import "tailwindcss";
@import "tw-animate-css";

.font-playfair-display {
  font-family: var(--font-playfair-display), serif;
}

.font-figtree {
  font-family: var(--font-figtree), sans-serif;
}

.font-oswald {
  font-family: var(--font-oswald), sans-serif;
}
